apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bot-data
  namespace: telegram-llm-bot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
